<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="myCtrl">
  <!-- Input alanı -->
  <input type="text" ng-model="inputText" placeholder="Metin girin">

  <!-- Buton ve bu butona tıklandığında çağrılacak fonksiyon -->
  <button ng-click="showText()">Göster</button>

  <!-- Metni göstereceğimiz bölüm -->
  <div>{{displayedText}}</div>
</body>
</html>
